<html>

<body>
    <form action="/products" method="post">
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo" name="titulo" placeholder="Coloque o titulo">
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" id="preco" name="preco" placeholder="Coloque o preço">
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea cols="30" rows="10" id="descricao" name="descricao" placeholder="Coloque a descrição"></textarea>
        </div>

        <input type="submit" value="salvar">
    </form>
</body>

</html>